# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv
*.egg-info/

# Environment variables
.env

# Data and logs
data/
logs/

# Docker
*.log
*.pid
*.seed

# IDE files
.vscode/
.idea/

dbt_project/logs/
dbt_project/target/
dbt_project/models/example/
dbt_project/.gitignore
dbt_project/.user.yml